<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Youtube Channel Subscriber List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Removed Subs</h1>
  <ul>
    <% subs.forEach(function (subscription) { %>
      <a target="_blank" href="https://www.youtube.com/channel/<%= subscription.snippet.resourceId.channelId%>"><img class="img-rounded" src="<%=subscription.snippet.thumbnails.default.url%>"/></a>
    <% }) %>
  </ul>
  <ul>
    <% subs.forEach(function (subscription) { %>
      <li><a target="_blank" href="https://www.youtube.com/channel/<%= subscription.snippet.resourceId.channelId%>"><%= subscription.snippet.title%></a>
    <% }) %>
      <li><a href="/changedConfirm">Click here to confirm changes.</a>
  </ul>
  </div>
</body>
</html>